In [1]:
import pandas as pd

In [13]:
valores = pd.read_csv('planilhaTeste.csv')
valores

    QUICK  MARGE  COUNTING
0    1005   1325       394
1    1008   1328       457
2    1000   1314       396
3     987   1342       402
4     988   1312       385
5     984   1326       382
6     981   1310       398
7     994   1333       380
8     997   1327       379
9     988   1325       383
10    994   1344       382
11    987   1328       460
12    988   1331       399
13   1000   1333       382
14    996   1327       382
15   1027   1302       380
16   1029   1328       395
17   1025   1332       395
18    995   1345       387
19    997   1327       381
20   1002   1331       394
21   1016   1346       397
22    998   1311       389
23    990   1329       378
24    971   1311       390
25   1003   1326       397
26    995   1343       401
27    993   1332       380
28    988   1391       381
29    989   1356       389

In [3]:
quick= valores["QUICK"]
merge= valores["MARGE"]
counting= valores["COUNTING"]

In [14]:
quick.describe()

count      30.000000
mean      997.166667
std        13.279705
min       971.000000
25%       988.000000
50%       995.000000
75%      1001.500000
max      1029.000000
Name: QUICK, dtype: float64

In [16]:
merge.describe()

count      30.000000
mean     1330.500000
std        16.625178
min      1302.000000
25%      1325.250000
50%      1328.000000
75%      1333.000000
max      1391.000000
Name: MARGE, dtype: float64

In [15]:
counting.describe()

count     30.000000
mean     393.166667
std       19.282086
min      378.000000
25%      382.000000
50%      389.000000
75%      396.750000
max      460.000000
Name: COUNTING, dtype: float64

In [10]:
tamanhoAmostraQuick = ((1.96*quick.std()) / (0.02 * quick.mean())) **2
print(tamanhoAmostraQuick)

1.7033093319658996

In [11]:
tamanhoAmostraMerge = ((1.96*merge.std())/(0.02*merge.mean()))**2
print(tamanhoAmostraMerge)

1.4995295006164424

In [12]:
tamanhoAmostraCounting = ((1.96*counting.std())/(0.02*counting.mean()))**2
print(tamanhoAmostraCounting)

23.0997251860558